.join {
    margin-bottom: 100px;

    &__container 
    {
        height: 780px;
        background-image: url(../img/woman.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 105%;
        background-position-x: 80px;

        &__title {
            max-width: 530px;
            text-align: center;
            font-size: 48px;
            font-weight: 600;
            line-height: 4rem;
        }
        &__paragraph {
            color: rgba(0, 0, 0, 0.46);
            font-size: 20px;
            font-weight: 400;
            margin-top: 22px;
            margin-bottom: 60px;
        }
        &__info {
            max-width: 550px;
            display: flex;
            flex-flow: column;
            align-items: center;
        }
    }
    &__ellipse {
        width: 95px;
        height: 95px;
        position: absolute;

        &--1 {
			top: 50%;
			left: 25%;
        }
        &--2 {
			top: -10%;
			left: 50%;
        }
        &--3 {
			top: 40%;
			left: 3%;
        }
        &--4 {
            top: 10%;
    		left: 90%;
        }
    }
}